<footer class="footer">
  <div class="footer-content">
    <div class="footer-item">
      <mat-icon class="icon">call</mat-icon>
      <span class="footer-text" (click)="sendMessage('tus pasteles?')">55 7994 7397</span>
    </div>
    <div class="footer-item">
      <mat-icon class="icon">email</mat-icon>
      <span class="footer-text">{{email}}</span>
    </div>
    <div class="footer-item">
      <span class="footer-text">San Pedro Tepetitlan, Acolman, Mex.</span>
    </div>
  </div>
</footer>
