<nav class="navbar">
  <div routerLink="" class="nombre-pasteleria">
    <p class="titulo">MAGNUS</p>
    <p class="subtitulo">El mejor sabor</p>
  </div>

  <div class="opciones">
    <a routerLink="sabores">Sabores</a>
    <a routerLink="precios">Precios</a>
    <a routerLink="productos">Productos</a>
  </div>

  <div class="contacto">
    <mat-icon class="icon">call</mat-icon><p class="btn_contact">Teléfono: 55 7994 7397</p>
    <mat-icon class="icon">mail</mat-icon><p class="btn_contact"> Correo: {{email}}</p>
  </div>
</nav>

