<div class="card">
  <div class="image-container"></div>
  <div class="content">
    <h2>Tres Leches - Fresa</h2>
    <p>Este exquisito pastel de tres leches está relleno de una suave y dulce mermelada de fresa, que combina perfectamente con su esponjosa textura. Decorado con una variedad de frutas frescas de temporada, cada bocado te llevará a un viaje de sabores únicos. Todo el pastel está cubierto con una delicada capa de crema batida, realzada con un toque extra de mermelada de fresa que le da un acabado irresistible. ¡El postre perfecto para cualquier ocasión especial!</p>
  </div>
  <button>Comprar</button>
</div>
