<div class="carousel-container" (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)">
  <div class="carousel">
    <div class="card">
      <div class="image-container"></div>
      <div class="content">
        <h2>Nube de Fresas</h2>
        <p>Este exquisito pastel de tres leches está relleno de una suave y dulce mermelada de fresa, que combina
          perfectamente con su esponjosa textura. Decorado con una variedad de frutas frescas de temporada, cada bocado te
          llevará a un viaje de sabores únicos. Todo el pastel está cubierto con una delicada capa de crema batida, realzada
          con un toque extra de mermelada de fresa que le da un acabado irresistible. ¡El postre perfecto para cualquier
          ocasión especial!</p>
      </div>
      <button>Comprar</button>
    </div>

    <div class="card">
      <div class="image-container-2"></div>
      <div class="content">
        <h2>Cesta De Lujo Al Chocolate</h2>
        <p>Sumérgete en el placer absoluto con nuestro exclusivo "Tesoro de Cacao", un pastel diseñado para cautivar tanto la vista como el paladar. Esta obra maestra está elegantemente envuelta en delicados bastones de galleta crocante, rellenos con cremoso chocolate, que forman una canasta perfecta. En su interior, una lluvia de los más finos dulces de chocolate se despliega, creando una explosión de sabores y texturas en cada bocado. El contraste entre la galleta crujiente y el chocolate suave te llevará a un viaje sensorial único, ideal para los amantes del buen gusto y las experiencias gourmet. Perfecto para celebrar momentos especiales con un toque de lujo y sofisticación.</p>
      </div>
      <button>Comprar</button>
    </div>

    <div class="card">
      <div class="image-container-3"></div>
      <div class="content">
        <h2>Fantasia de Oreo</h2>
        <p>Descubre la perfecta armonía entre lo crujiente y lo cremoso en Fantasia de Oreo. Este pastel te envuelve con capas esponjosas de chocolate suave, entrelazadas con una exquisita crema de Oreo que desborda dulzura y textura. Coronado con una decoración de galletas Oreo enteras y una cobertura de nata suave, cada bocado es una experiencia celestial que combina lo mejor de la galleta más famosa del mundo con un toque de sofisticación irresistible.</p>
      </div>
      <button>Comprar</button>
    </div>

    <div class="card">
      <div class="image-container-4"></div>
      <div class="content">
        <h2>Pasión de Cacao</h2>
        <p>Pasión Cacao es el sueño hecho realidad para los amantes del chocolate. Elaborado con los mejores granos de cacao, este pastel presenta una textura rica y aterciopelada que se deshace en el paladar. Capas profundas de bizcocho de chocolate intenso se complementan con una suave mousse de chocolate oscuro y una cobertura brillante de ganache que lo envuelve en lujo. Un toque de cacao en polvo espolvoreado por encima le da el toque final a esta obra maestra indulgente que transforma cada ocasión en un momento de puro placer.</p>
      </div>
      <button>Comprar</button>
    </div>

    <div class="card">
      <div class="image-container-5"></div>
      <div class="content">
        <h2>Sueño de Oro</h2>
        <p>Sueño de Oro es una verdadera joya para los sentidos. Elaborado con los duraznos más frescos y jugosos, este pastel despliega una combinación deliciosa de bizcocho ligero y suave, bañado en un almíbar de durazno que evoca los sabores del verano. Entre las capas, una delicada crema de durazno realza su dulzura natural, mientras una cobertura de finos gajos de durazno dorado le da un acabado brillante y encantador. Perfecto para celebraciones especiales, este pastel promete un viaje al paraíso con cada bocado.</p>
      </div>
      <button>Comprar</button>
    </div>


  </div>



  <button class="nav-button prev" (click)="prevSlide()"><</button>
  <button class="nav-button next" (click)="nextSlide()">></button>
</div>
