<div class="carousel-container">
  <div class="carousel">
    <div class="card">
      <div class="image-container"></div>
      <div class="content">
        <h2>Tres Leches - Fresa</h2>
        <p>Este exquisito pastel de tres leches está relleno de una suave y dulce mermelada de fresa, que combina
          perfectamente con su esponjosa textura. Decorado con una variedad de frutas frescas de temporada, cada bocado te
          llevará a un viaje de sabores únicos. Todo el pastel está cubierto con una delicada capa de crema batida, realzada
          con un toque extra de mermelada de fresa que le da un acabado irresistible. ¡El postre perfecto para cualquier
          ocasión especial!</p>
      </div>
      <button>Comprar</button>
    </div>

    <div class="card">
      <div class="image-container-2"></div>
      <div class="content">
        <h2>Cesta De Lujo Al Chocolate</h2>
        <p>Sumérgete en el placer absoluto con nuestro exclusivo "Tesoro de Cacao", un pastel diseñado para cautivar tanto la vista como el paladar. Esta obra maestra está elegantemente envuelta en delicados bastones de galleta crocante, rellenos con cremoso chocolate, que forman una canasta perfecta. En su interior, una lluvia de los más finos dulces de chocolate se despliega, creando una explosión de sabores y texturas en cada bocado. El contraste entre la galleta crujiente y el chocolate suave te llevará a un viaje sensorial único, ideal para los amantes del buen gusto y las experiencias gourmet. Perfecto para celebrar momentos especiales con un toque de lujo y sofisticación.</p>
      </div>
      <button>Comprar</button>
    </div>
  </div>

  <!-- Controles de navegación -->
  <button class="nav-button prev" (click)="prevSlide()"><</button>
  <button class="nav-button next" (click)="nextSlide()">></button>
</div>
