@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400&display=swap');


/* Contenedor del menú móvil */
.mobile-menu {
  position: relative; /* Necesario para posicionar el pseudo-elemento relativo a este contenedor */
  width: 100%;
  height: 30vh; /* Ajusta la altura según sea necesario */
  background: #212121; /* Color de fondo del menú */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que esté sobre otros elementos */
  color: white;
  overflow: hidden; /* Asegura que el pseudo-elemento no sobresalga del contenedor */
  /* Para asegurar que el contenido no se desborde */
  box-sizing: border-box;
}
.content{
  display: flex;
  justify-content: space-around;
}
/* Contenido del menú */
.menu-content {
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.icon-arrow-left{
  margin-top: 50px;
  margin-right: 50px;
}
.icon-arrow-rigth{
  margin-top: 50px;
  margin-left: 50px;
}
/* Título del menú */
.menu-title {
  font-size: 24px;
  font-weight: bold;
}

/* Efecto ondulado en la parte inferior */
.mobile-menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Altura del efecto ondulado */
  background: url('../../../assets/wave.svg') no-repeat center bottom; /* Asegúrate de usar la ruta correcta al archivo SVG */
  background-size: cover;
}
